{% extends 'public/headandfoot.html' %}
{% load static %}

{% block title %}
    产品分类
{% endblock %}

{% block inheadcss %}
    <style>
        .shop-list-mid .tit a {
            color: #909090;
            font-size: 1.4rem;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            white-space: normal;
            text-overflow: ellipsis;
        }
        .list-price{
            background: url({% if order == 2 %}
            {% static 'images/order-bot.png' %}
                {% elif order == 3 %}
                {% static 'images/order-top.png' %}
                {% else %}
                {% static 'images/order.png' %}
            {% endif %}) no-repeat right center;
            padding-right: 20px;
            font-style: normal;
    }
    </style>
{% endblock %}

{% block information %}
    <div style="height: 49px;"></div>
    <ul class="list-nav">
        <li {% if order == 0 %}class="current"{% endif %}><a href="{% url 'goods:分类页' goods_id 0 %}">综合</a></li>
        <li {% if order == 1 %}class="current"{% endif %}><a href="{% url 'goods:分类页' goods_id 1 %}">销量</a></li>
        <li {% if order == 2 %}class="current"{% elif order == 3 %}{% endif %}><a id="img_change"  href="{% url 'goods:分类页' goods_id 2 %}"><i class="list-price">价格</i></a></li>
        <li {% if order == 4 %}class="current"{% endif %}><a href="{% url 'goods:分类页' goods_id 4 %}">新品</a></li>
    </ul>
    <div class="content-list">
        <div class="list-left">
            {% for gd in goods_class %}
            <li {% if goods_id == gd.id %}
            class="current"
            {% endif %}>
                <a href="{% url 'goods:分类页' gd.pk 0 %}">{{ gd.name }}</a></li>
            {% endfor %}
        </div>
        <div class="list-right">
            <ul class="list-pro">
                    {% for j in goods %}
                    <li>
                    <a href="{% url 'goods:商品详情' j.pk %}"><img src="{{ MEDIA_URL }}{{ j.logo_address }}" class="list-pic"/></a>
                    <div class="shop-list-mid" style="width: 65%;">
                        <div class="tit"><a href="{% url 'goods:商品详情' j.pk %}">{{ j.goods_class_set.name }}&emsp;{{ j.name }} 包邮</a></div>
                        <div class="am-gallery-desc">￥{{ j.price }}</div>
                        <p>销量：{{ j.sales }}件</p>
                    </div>
                    <div class="list-cart">
                        <div class="d-stock ">
                            <a class="decrease">-</a>
                            <input id="num" readonly="" class="text_box" name="" type="text" value="0">
                            <a class="increase">+</a>
                        </div>
                    </div>
                    <!--<a href="" class="list-cart"><img src="images/cart.png" width="30"/></a>-->
                </li>
                    {% endfor %}
            </ul>
            {% if goods.has_previous %}
            <a href="?page_id={{ goods.previous_page_number }}" class="ui-page">上一页</a>
            {% endif %}
            {% if goods.has_next %}
            <a href="?page_id={{ goods.next_page_number }}" class="ui-page">下一页</a>
            {% endif %}
        </div>
    </div>

{% endblock %}
<!--底部-->
{% block footer %}
    <div style="height: 55px;"></div>
    <div class="fix-bot">
        <div class="fix-bot-cart"><i>8</i></div>
        <a href="" class="list-js">去结算</a>
        <a href="" class="list-jsk">一键快购</a>
        <!--<div class="js-text">
           <p><b>￥217.80</b></p>
           <p class="js-car">购物满50元免运费</p>
     </div>-->
    </div>
{% endblock %}


{% block infootjs %}

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/amazeui.min.js' %}"></script>
    <script>
        //购物数量加减
        $(function () {
            $('.increase').click(function () {
                var self = $(this);
                var current_num = parseInt(self.siblings('input').val());
                current_num += 1;
                if (current_num > 0) {
                    self.siblings(".decrease").fadeIn();
                    self.siblings(".text_box").fadeIn();
                }
                self.siblings('input').val(current_num);
                update_item(self.siblings('input').data('item-id'));
            })
            $('.decrease').click(function () {
                var self = $(this);
                var current_num = parseInt(self.siblings('input').val());
                if (current_num > 0) {
                    current_num -= 1;
                    if (current_num < 1) {
                        self.fadeOut();
                        self.siblings(".text_box").fadeOut();
                    }
                    self.siblings('input').val(current_num);
                    update_item(self.siblings('input').data('item-id'));
                }
            })
        });
        $(function () {
            // 加载完成后再执行
            if ('{{ order }}' == 2){
                $('#img_change').attr('href','{% url 'goods:分类页' goods_id 3 %}');
            }else if ('{{ order }}' == 3) {
                $('#img_change').attr('href','{% url 'goods:分类页' goods_id 2 %}');
            };
        });

    </script>
{% endblock %}